.comment{ id: "comment-#{comment.id}", class: "parent-comment-#{comment.parent_id}",
  'data-offset': comment.depth }
  .auth_user_container
    - if comment.auth_user.user.present?
      = image_tag 'a2'
      %p Admin
    - else
      = image_tag comment.auth_user.photo_url
      %p
        = comment.auth_user.first_name
        = comment.auth_user.last_name
  .article_comment
    .article_comment_content_show
      %div{ contenteditable: "#{may_edit_comment?(comment)}",
        'data-url': edit_comment_article_path(comment_id: comment.id) }
        - (a = comment.content.split("\n")).each_with_index do |line, index|
          = line
          %br
    .time_comment
      - if @auth_user.present?
        %btn.link.answer-comment{ 'data-target': "#comment-#{comment.id}-form" } ответить
      = distance_of_time_in_words(comment.created_at,
        Time.now, locale: :en) + ' ago'
  - if may_remove_comment?(comment)
    .comment-controls
      = link_to content_tag(:i, nil, class: 'fa fa-trash'),
        remove_comment_article_path(comment_id: comment.id),
        data: {confirm: 'Вы уверены?'}, remote: true
- if @auth_user.present?
  %div.comment-form.d-none{ id: "comment-#{comment.id}-form" }
    = render 'answer_comment', comment: comment
