= simple_form_for @item do |f|

  .row
    .form-group.col-12
      = f.input :title,
        autofocus: true,
        class: 'form-control'
    .form-group.col-12
      = f.input :describe,
        autofocus: true,
        class: 'form-control'
    .form-group.col-12
      = f.input :category_id,
        as: :select,
        collection: Category.all.order(:created_at).map { |c| [c.name, c.id] },
        input_html: { class: 'form-control selectpicker' },
        include_blank: false
    .form-group.col-12
      = f.input :tags,
        as: :select,
        collection: Tag.all.order(:created_at).map { |c| [c.name, c.id] },
        input_html: { class: 'form-control multiselect', multiple: 'multiple' },
        include_blank: false,
        selected: f.object.tag_ids

    .col-12
      .btn.btn-default.fileinput-button#dropzone
        %button.btn.btn-outline-secondary Выбрать
        %div.file-label Файлы не выбраны
        - if f.object.try(:id)
          = file_field_tag 'file', id: 'article-choose-photo',
            'data-url': upload_file_article_path(id: f.object.id), multiple: true
        - else
          = hidden_field_tag :id_form, nil, value: id_form
          = file_field_tag 'file', id: 'article-choose-photo',
            'data-url': articles_upload_file_path(id_form: id_form), multiple: true
        #progress.progress
          .progress-bar
      %strong
        %span Прикрепленные файлы&nbsp;
        %span#n-article-files= @article_files.try(:count) || 0
      %hr.hr-5
      %table.table.table-striped
        %tbody#article-files
          - @article_files.each do |article_file|
            = render 'article_file', article_file: article_file

    #test-editormd{ 'data-url': upload_image_article_path }
      = f.text_area :content

    .actions.col-12
      = f.submit t("articles.#{params[:action]}"),
        class: 'btn btn-outline-secondary',
        id: 'article-create-btn'

-# #test-editormd
-#   %textarea
