<%- if @article_comment.valid? %>
  $('.article_comment_form_container .errors').html('');
  $('textarea').removeClass('has-error');

  // Вставка комментария в нужную позицию
  if ($(".parent-comment-<%= @article_comment.parent_id %>").length > 0){
    $(".parent-comment-<%= @article_comment.parent_id %>").last().next()
      .after("<%= j render 'comment', comment: @article_comment %>");
  } else if ($("#comment-<%= @article_comment.parent_id %>").length > 0 ) {
    $("#comment-<%= @article_comment.parent_id %>").last().next()
      .after("<%= j render 'comment', comment: @article_comment %>");
  } else {
    $('#article_comments').append("<%= j render 'comment', comment: @article_comment %>")
  }

  // Подсветка добавленного комментария
  $("#comment-<%= @article_comment.id %> .article_comment_content_show")
    .last()
    .animate({'background-color': '#ccc'}, 'fast')
    .animate({'background-color': 'white'}, 'fast');

  $("textarea").val('');

  // скрыть все окна ввода сообщений для ответа
  $('.answer-comment').click(function () {
    $('.comment-form').not('.d-none').addClass('d-none')
    target = $(this).data('target')
    $(target).toggleClass('d-none')
  })
  $('.comment').each(function () {
    $(this).css({'margin-left': $(this).data('offset') * 2 + 'em'})
  })

  // Скролл до добавленного комментария
  var elem = $("#comment-<%= @article_comment.id %>")
  $('html, body').animate({
    scrollTop: elem.offset().top - 200
  }, 200);

<%- else %>
  $('textarea').removeClass('has-error');
  $('#comment-<%= @article_comment.parent_id || 0 %>-form textarea').addClass('has-error');
  $('.article_comment_form_container .errors').html('');
  <%- @article_comment.errors.messages.values.flatten.each do |mes| %>
    $('#comment-<%= @article_comment.parent_id || 0  %>-form .errors').append("<li><%= mes %></li>");
  <%- end %>
<%- end %>
