#cool-bg.d-none.d-sm-block
- @items.each do |article|
  .card.lifted.text-center
    - if user_signed_in?
      .card-footer.text-muted.text-left
        = link_to 'Редактировать', edit_article_path(article)
        = link_to 'Удалить', article_path(article),
          method: :delete, data: { confirm: 'Вы уверены?' }
    .card-body.read_more{ 'data-link': article_path(article) }
      %h1.card-title= article.title
      %p.card-text= article.describe
    .card-footer.text-muted
      .row
        .col-md-6.text-left
          %p
            Категория:
            = article.category.name
          %p
            - article.reload.tags.each do |tag|
              %span.badge.badge-pill.badge-secondary= tag.name
        .col-md-6.text-right.d-none.d-md-block
          = render 'application/time', created_time: article.created_at, updated_time:  article.updated_at
          %p
            %i.fa.fa-eye
            = article.views
        .col-md-6.text-left.d-md-none
          = render 'application/time', created_time: article.created_at, updated_time:  article.updated_at
          %p
            %i.fa.fa-eye
            = article.views
= paginate @items
