%h1= t('tags.index').capitalize

.col-12
  .row.tags-index
    - @items.each do |tag|
      %span.badge.badge-pill.badge-secondary
        = tag.name
        - if tag.name != 'Tutorial'
          = link_to content_tag(:i, nil, class: 'fa fa-pencil'),
            edit_tag_path(tag)
          = link_to content_tag(:i, nil, class: 'fa fa-trash'), tag_path(tag),
            method: :delete, data: { confirm: 'Вы уверены?' }

.col-12
  .create-btn.row
    = link_to t('tags.new'), new_tag_path, class: 'btn btn-outline-secondary'
