- controller = params[:controller]
- action = params[:action]
- if @need_restful_breadcrumbs
  .row
    .col-md-12
      %ul.breadcrumb
        - if controller == 'articles' && action == 'show'
          - if session[:tutorial]
            %li.breadcrumb-item= link_to t(controller + '.index'), tutorial_articles_path
          - else
            %li.breadcrumb-item= link_to t(controller + '.index'), root_path
          %li.breadcrumb-item.active= t(controller + '.show')
        - else
          - case action
          - when 'index', 'tutorial'
            %li.breadcrumb-item.active= t(controller + '.index')
          - when 'show'
            %li.breadcrumb-item= link_to t(controller + '.index'),
              '/' + controller
            %li.breadcrumb-item.active= t(controller + '.show')
          - when 'new', 'create'
            %li.breadcrumb-item= link_to t(controller + '.index'),
              '/' + controller
            %li.breadcrumb-item.active= t(controller + '.new')
          - when 'edit', 'update'
            %li.breadcrumb-item= link_to t(controller + '.index'),
              '/' + controller
            %li.breadcrumb-item= link_to t(controller + '.show'),
              '/' + controller + '/' + item.id.to_s
            %li.breadcrumb-item.active= t(controller + '.edit')
