%aside.hidden-print#sidebar-wrapper
  .sidebar-nav
    - if user_signed_in?
      .admin-panel
        .child-admin-panel
          %h5 Панель админа
        .child-admin-panel
          = link_to t('categories.index').capitalize, categories_path,
            class: 'link'
          = link_to t('tags.index').capitalize, tags_path, class: 'link'
          = link_to 'Выход', destroy_user_session_path,
            class: 'log-out-icon link'
        .child-admin-panel
          = link_to 'Комментарии', static_pages_comments_path, class: 'link'
        .child-admin-panel
          = link_to t('articles.new').capitalize, new_article_path,
            class: 'link'

    #author-info
      = image_tag 'a2', id: 'avatar'
      %strong David
      %p Join me&nbsp;
      %b david.home@mail.ru
      .social-media-icons
        %ul
          %li
            %a.twitter{ href: 'https://vk.com/hot_dav', target: '_blank' }
              %i.fa.fa-vk
          %li
            %a.facebook{ href: 'https://github.com/Davhot', target: '_blank' }
              %i.fa.fa-github
          %li
            %a.instagram{ href: 'https://www.instagram.com/dav_hot', target: '_blank' }
              %i.fa.fa-instagram
    %hr.sidebar-content-separate
    .menu-container.menu-primary#menu-primary{ role: 'navigation' }
      %nav.menu
        %ul.menu-primary-items#menu-primary-items
          %li= link_to 'Home', root_path, class: 'link'
          %li= link_to 'Tutorial', tutorial_articles_path, class: 'link'
          %li= link_to 'About', static_pages_about_path, class: 'link'
          %li= link_to 'Contact', static_pages_contact_path, class: 'link'
    %hr.sidebar-content-separate
    #about-me
      %h6 Обо мне
      %p Разраб, студент и просто отличный парень
    %hr.sidebar-content-separate
    = simple_form_for Article.search(params).ransack(params[:q]), url: articles_path, method: :get do |f|
      = f.input :title_or_content_or_describe_cont,
        label: false,
        required: false,
        input_html: {class: 'form-control ds-input', autocomplete: 'off',
          placeholder: 'Поиск...', type: 'search' }
      = f.submit 'Go'
    %hr.sidebar-content-separate
    %div
      %h6 Последние посты
      %ul.links-sidebar
        - Article.all.last(5).each do |article|
          %li= link_to content_tag(:p, article.title), article_path(article),
            class: 'link'
    %hr.sidebar-content-separate
    %div
      %h6 Категории
      %ul.links-sidebar
        - Category.all.each do |category|
          %li= link_to content_tag(:p, category.name),
            articles_path(category_id: category.id), class: 'link'
    %hr.sidebar-content-separate
    #tags
      %h6 Теги
      - Tag.all.each do |tag|
        = link_to content_tag(:span, tag.name,
          class: 'badge badge-pill badge-secondary'),
          articles_path(tag_id: tag.id)
    %hr.sidebar-content-separate
    = image_tag 'log-data-logo-white.png', id: 'logo',
      title: 'log-data-logo-white'
