%aside.hidden-print#sidebar-wrapper
  .sidebar-nav
    - if user_signed_in?
      .admin-panel
        .child-admin-panel
          %h5 Панель админа
        .child-admin-panel
          = link_to t('categories.index').capitalize, categories_path,
            class: 'link'
          = link_to t('tags.index').capitalize, tags_path, class: 'link'
          = link_to 'Выход',
            destroy_user_session_path, {class: 'log-out-icon link'}
        .child-admin-panel
          = link_to t('articles.new').capitalize, new_article_path,
            class: 'link'

    #author-info
      = image_tag 'a2', id: 'avatar'
      %strong David
      %p Join me
      .social-media-icons
        %ul
          %li
            %a.twitter{ href: 'https://vk.com/hot_dav', target: '_blank' }
              %i.fa.fa-vk
          %li
            %a.facebook{ href: 'http://facebook.com/', target: '_blank' }
              %i.fa.fa-facebook
          %li
            %a.instagram{ href: 'http://instagram.com/', target: '_blank' }
              %i.fa.fa-instagram
    %hr.sidebar-content-separate
    .menu-container.menu-primary#menu-primary{ role: 'navigation' }
      %nav.menu
        %ul.menu-primary-items#menu-primary-items
          %li= link_to 'Home', root_path, class: 'link'
          %li
            %a.link{ href: '' } About
          %li
            %a.link{ href: '' } Contact
    %hr.sidebar-content-separate/
    #about-me
      %h6 Обо мне
      %p Разраб, студент и просто отличный парень
    %hr.sidebar-content-separate/
    %form
      %input.form-control.ds-input#search-input{ autocomplete: 'off',
        placeholder: 'Поиск...', type: 'search' }
      %button{ type: 'submit' } Go
    %hr.sidebar-content-separate/
    %div
      %h6 Последние посты
      %ul.links-sidebar
        %li
          %a.link{ href: '' }
            %p Регулярные выражения в Ruby
        %li
          %a.link{ href: '' }
            %p Добавление файлов Ruby on Rails
        %li
          %a.link{ href: '' }
            %p Пагинация и меняющийся title
        %li
          %a.link{ href: '' }
            %p Добавление пользователей
        %li
          %a.link{ href: '' }
            %p Модули и Примеси Ruby
    %hr.sidebar-content-separate/
    %div
      %h6 Категории
      %ul.links-sidebar
        - for category in Category.all do
          %li
            %a.link{ href: '' }
              %p= category.name
    %hr.sidebar-content-separate/
    %div#tags
      %h6 Теги
      - for tag in Tag.all do
        %a{ href: '' }
          %span.badge.badge-pill.badge-secondary= tag.name
    %hr.sidebar-content-separate
    = image_tag 'log-data-logo-white.png', id: 'logo',
      title: 'log-data-logo-white'
